* {
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
	color: black;
	font-family: "Lato", sans-serif;
	display: flex;
	flex-direction: column;
}

main {
	padding: 0 10%;
}

h1,
h2 {
	font-family: "DM Serif Display", serif;
}

h2 {
	font-size: 3rem;
	letter-spacing: 0.175rem;
}

h6 {
	text-align: center;
}

pre {
	white-space: pre-line;
	font-size: 16px;
}

.about-me-intro p {
	font-family: "Lato", sans-serif;
	font-size: 16px;
}

li {
	list-style: none;
}

nav {
	margin: 2%;
}

.nav-link {
	color: black !important;
	font-family: "Lato", sans-serif !important;
}

a.nav-link:hover {
	color:rgb(241, 66, 148) !important;
}

.resume-btn {
	padding: 5px 10px;
	background-color: none;
	border: solid black;
	color: black;
}

.home-body-text {
	text-align: center;
	padding: 10%;
	font-size: 3rem;
}

.scroll-down {
	text-align: center;
	font-size: 3rem;
	margin-bottom: 90%;
}

a:hover {
	color:rgb(241, 66, 148);
}

.left-side-icons {
	position: fixed;
	bottom: 0;
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

i:hover{
	color:rgb(241, 66, 148);
}

.left-side-icons > li {
	margin-bottom: 20px;
	font-size: 1.5rem;
}

.left-side-icons::after {
	content: "";
	display: block;
	width: 1px;
	height: 90px;
	margin: 0px auto;
	background-color: black;
}

.left {
	display: none;
}

.right {
	float: right;
	display: none;
}

.right-side-email {
	position: fixed;
	bottom: 0;
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	margin: 0;
	padding: 0;
	
}

.right-side-email a {
	
	font-family: var(--font-mono);
	font-size: var(--fz-xxs);
	padding-bottom: 20px;
	letter-spacing: 0.21em;
	writing-mode: vertical-rl;
}

a {
	display: inline-block;
	text-decoration: none;
	text-decoration-skip-ink: auto;
	color: inherit;
	position: relative;
	transition: var(--transition);
}

.right-side-email::after {
	content: "";
	display: block;
	width: 1px;
	height: 100px;
	margin: 0px auto;
	background-color: black;
}

.about {
	padding: 10% 10%;
}

.sarah {
	height: auto;
	width: 100%;
}

.about-me-intro {
	letter-spacing: 0.05rem;
	line-height: 1.2rem;
	margin-top: 20px;
}

.work-section {
	padding: 0 10%;
}

.ills-img:hover {

	border: solid rgb(241, 66, 148);;
}

/*ILLUSTRATIONS*/

.logo-branding {
    display: grid;
    gap: 0.75rem;
    grid-template-columns: 100%;
    margin-bottom: 50px;
}

.logo-branding-40 {
    display: grid;
    gap: .75rem;
    grid-template-columns: 100%;
    margin-bottom: 50px;
}

#work-modal .modal-img {
	width: 350px;
}

.portfolio-head {
    font-size: 20px;
    margin-top: 50px;
}

.get-in-touch {
	text-align: center;
}

.get-in-touch h2 {
    margin-top: 50px;
    font-size: 30px;
}

footer {
    padding: 40px;
}

@media only screen and (min-width: 600px) {

    .home-body-text {
        text-align: center;
        padding: 10%;
        font-size: 5rem;
    }

	.left {
		display: block;
		padding: 0 3rem;
	}

	.right {
		display: block;
		padding: 0 4rem;
	}

	.scroll-down {
		margin-bottom: 50%;
	}

	.about {
		padding: 10% 10%;
	}

	.about-me-intro {
		letter-spacing: 0.1rem;
	}

	.work-section {
		padding: 0 10%;
	}

	#work-modal .modal-img {
		width: 480px;
	}

	/*ILLUSTRATIONS*/

    .logo-branding {
		display:grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: 200px;
		
	}

	.logo-branding-40 {
		display:grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: 200px;
	}

	.gallery-item {
		width: 100%;
		height: 100%;
	}

	.gallery-item .image {
		width: 100%;
		height: 100%;
		overflow:hidden;
	}

	.gallery-item .image img {
		width: 100%;
		height: 100%;
		object-fit:cover;
	}

    .get-in-touch {
        text-align: center;
    }
    
}

@media only screen and (min-width: 992px) {
	.scroll-down {
		margin-bottom: 20rem;
	}

	.about {
		padding: 10% 10%;
	}

	.sarah {
		height: 50%;
		width: 50%;
		float: left;
		margin-right: 20px 
	}
	
	.about-me-intro {
		letter-spacing: 0.1rem;

	}

	/*ILLUSTRATIONS*/

    #ill-head {
        margin-top: 75px;
    }

	#work-modal .modal-img {
		width: 780px;
		border: none;
	}


}
